/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-accent-color: #353430;
    --content-text-color: #353430;
    --background-color: #FFF1F7;
    --button-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.4);
    --content-title-color:  #353430;
  }
}

.theme-light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) .lamp {
    display: none;
  }
}