/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-accent-color: #353430;
    --content-text-color: #353430;
  }
}