/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: IBM Plex mono, sans-serif;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  position: relative;
}

.lamp {
  justify-self: end;
  align-self: start;
  grid-row: 1;
  position: absolute;
  color: var(--accent-color);
  margin-right: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px; 
  top: 2opx;
}

.lamp::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.lamp__icon {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  gap: 11.5px;
  flex-direction: column;
  list-style: none;
}

.header__theme-menu-button {
  color: var(--button-color);
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color); 
  opacity: 0.4;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__main_title {
  justify-self: start;
  align-self: center;
  grid-row: 2;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  justify-self: start;
  align-self: end;
  grid-row: 3;
  max-width: 100%;
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  padding-left: 10px;
  padding-right: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
}

.main {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 50px;
  padding: 40px 10px;
}

.content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section__title {
  color: var(--content-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}


.content-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  padding: 0 10px;
}

.content-item__title-individ {
  font-weight: 400;
}

.content-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--content-text-color);
}

.content-item__text-link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content-item__text-link:hover {
  border-bottom: 1px solid var(--content-text-color);
  text-decoration: none;
}

.content-item__text-link:focus-visible {
  border: 1px solid var(--accent-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  width: 100%;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .gallery {
    gap: 20px;
  }
  .gallery__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery__image:first-child {
    grid-column: 1 / 3;    
    grid-row: 1;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3;       
    grid-row: 1 / 3;       
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;       
    grid-row: 2 / 4;
  }
  
  .gallery__image:last-child {
    grid-column: 2 / 4;
    grid-row: 3;          
  }
}

.footer {
  min-height: 668px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__text {
  font-weight: 700;
  font-size: 116px;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    min-height: 1024px;
  }

  .lamp {
    margin-right: 30px;
  }

  .header__main_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__title {
    justify-self: end;
    align-self: center; 
    max-width: 50%;
    padding: 0;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    align-items: start;
  }
  
  .content-section__title {
    grid-column: 1;
    margin: 0;
  }
  
  .content-section__items {
    grid-column: 2;
  }

   .content-section-individ {
    grid-template-columns: 1fr;
   }
  
  .content-section-individ .content-section__title {
    grid-column: 1;
    max-width: 20%; 
  }
  
  .content-section-individ .content-section__items {
    grid-column: 1;
  }

  .content-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .content-item:last-child {
    margin-bottom: 0;
  }

  .footer {
    min-height: 1024px;
  }
  
  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 12px;
  }

  .main {
    gap: 60px;
  }
  
  .content-section-individ {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content-section-individ .content-section__title {
    grid-column: 1 / 4;
    max-width: 25%;
  }

  .content-section-individ .content-section__items {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }

  .content-section-individ .content-item {
    margin-bottom: 0;
  }

  .content-item:last-child {
    margin-bottom: 0;
  }

  .footer {
    min-height: 768px;
  }
}