/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color:#FF0070;
  --title-color: #DB00FF;
  --text-accent-color: #000028;
  --content-text-color: #F1B2CE;
  --background-color: #000028;
  --button-color: #FF0070;
  --content-title-color:  #FF0070;
}